<div class="container">
    
    <div class="about">
        <h2>ABOUT</h2>
           <p>닭발이 싫은 심명진 정성원이 개발하고 구현정 송연주가 디자인한 공간입니다<br>
           사자들의 여름방학 계획을 함께 공유해봅시다 ^-^</p> 
           
           
    </div>
    
    
    
    <div class="main">
        <nav id="nav_section">
            <div class="menu">
                <div class="eat">
                    <%= link_to '먹고 싶은 것',"/home/show_eat"%>
                </div>
                <div class="go">
                    <%= link_to '가고 싶은 곳',"/home/show_go"%>
                </div>
                <div class="do">
                    <%= link_to '하고 싶은 것',"/home/show_do"%>
                </div>
            </div>
        </nav>
    </div>
    
    
</div>