<h1>댓글 수정하기<h1>
<hr>
<form action='/things/<%=@thing.id%>/tcomments/<%=@edit_tcomment.id%>/update' method ="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <textarea name ="tcomments_content"><%=@edit_tcomment.content%></textarea>
    <input type="submit" value="등록"><br>
</form>
